*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(75, 72, 72, 0.3),transparent), url(image/a.jpeg);
    background-size:cover;
    background-position: center;
    position: relative;
    padding: 10px;

}


nav{


    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;

}

.logo{
    width: 120px;
    cursor: pointer;
}

.carticon{
    width: 30px;
    cursor: pointer;
    padding-left: 5px;
}


nav ul{
    flex: 1;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}


nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content :" ";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after{
    width :50%;
}


.textbox{
    color:#fff;
    position: absolute;
    bottom: 7%;
    padding: auto;
}


.textbox p{
    font-size: 65px;
    font-weight: 700;
}


.textbox h1{
    font-size: 150px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(image/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
        
    }
}


.textbox h3{
    font-size: 40PX;
    font-weight: 400;
}



.textbox.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;

}


.textbox a{
    color: #fff;
    text-decoration: none;
    padding:10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
   
}


.textbox a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}


.icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
}



.icons img{
    width: 30px;
    display: block;
    margin: 25px 5px;
}